In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')

In [3]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [8]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [10]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [11]:
salary.isnull().sum()

Experience Years    0
Salary              0
dtype: int64

In [4]:
y = salary['Salary']

In [12]:
X =salary[['Experience Years']]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [15]:
X_train.shape,X_test.shape

((28, 1), (12, 1))

In [16]:
y_train.shape,y_test.shape

((28,), (12,))

In [17]:
from sklearn.linear_model import LinearRegression
model =LinearRegression()

In [21]:
model.fit(X_train,y_train)

LinearRegression()

In [22]:
model.intercept_

26596.961311068255

In [23]:
model.coef_

array([9405.61663234])

In [24]:
y_pred =model.predict(X_test)

In [25]:
y_pred

array([ 90555.15441095,  59516.61952424, 106544.70268592,  64219.42784041,
        68922.23615658, 123474.81262412,  84911.78443155,  63278.86617718,
        65159.98950364,  61397.74285071,  37883.70126987,  50111.00289191])

In [26]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [27]:
mean_absolute_error(y_pred,y_test)

4005.926310168176

In [28]:
mean_absolute_percentage_error(y_pred,y_test)

0.06126018885095177

In [29]:
mean_squared_error(y_pred,y_test)

24141421.671440985